<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/craft.css">
    <title>M.I.L.F</title>
</head>
<body>
    <h1>Create a craftsman</h1>
    <%- include("partials/error.ejs") %>
    <form action="/craftsman" method="post">
        <label>
            Name
            <input type="text" name="name" id="name" required>
        </label>
        <input type="submit">
    </form>
    <div class="craftsmans">
        <% locals.craftsmans.map(craftman => { %>
            <div class="craftBox">
                <img src="./media/icons/craftsman.svg" alt="">
                <p><%= craftman.name %></p>
                <div>
                    <a href="/<%= craftman.id %>/craftsman-update">Update</a>
                    <form action="/<%= craftman.id %>/delete-craftsman" method="post">
                        <input type="submit" value="delete">
                    </form>
                </div>
            </div>
        <% }) %>
    </div>
</body>
</html>