<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>M.I.L.F</title>
</head>
<body>
    <h1>Create a craftsman</h1>
    <%- include("partials/error.ejs") %>
    <form action="/craftsman" method="post">
        <label>
            Name
            <input type="text" name="name" id="name" required>
        </label>
        <input type="submit">
    </form>
    <% locals.craftsmans.map(craftman => { %>
        <div>
            <img src="./media/icons/craftsman.svg" alt="">
            <p><%= craftman.name %></p>
            <a href="/<%= craftman.id %>/craftsman-update">Update</a>
            <form action="/<%= craftman.id %>/delete-craftsman" method="post">
                <input type="submit" value="delete">
            </form>
        </div>
    <% }) %>
</body>
</html>