<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>M.I.L.F</title>
</head>
<body>
    <h1>Update a craftsman</h1>
    <form action="/<%= craftsman.id %>/craftsman-update" method="post">
        <label>
            Name
            <input type="text" name="name" id="name" value="<%= craftsman.name %>" required>
        </label>
        <input type="submit">
    </form>
</body>
</html>